<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<!--<suite name="BetikaTestSuite" parallel="tests" thread-count="3">-->

<!--    <test name="BetikaTest_Chrome">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--        //    <class name="org.app.mains.AppTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--&lt;!&ndash;    <test name="BetikaTest_Firefox">&ndash;&gt;-->
<!--&lt;!&ndash;        <parameter name="browser" value="firefox"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <classes>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.app.mains.AppTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </classes>&ndash;&gt;-->
<!--&lt;!&ndash;    </test>&ndash;&gt;-->

<!--&lt;!&ndash;    <test name="BetikaTest_Edge">&ndash;&gt;-->
<!--&lt;!&ndash;        <parameter name="browser" value="edge"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <classes>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.app.mains.AppTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </classes>&ndash;&gt;-->
<!--&lt;!&ndash;    </test>&ndash;&gt;-->

<!--</suite>-->

